.venv
*.pyc
.DS_Store

.github/

venv/

envs/
example/
old/
scripts/
tutorial_env/


week_1/
week_2/
week_3/
week_4/
week_5/
week_6/
week_7/
week_8/
week_9/
week_10/
week_11/

week_11_new/afzal_pod
week_11_new/ashwin_pod
week_11_new/ashwini_pod
week_11_new/bandreddy_pod
week_11_new/bhavana_pod
week_11_new/debasis_pod
week_11_new/enes_pod
week_11_new/fabio_pod
week_11_new/inzimam_pod
week_11_new/muhammad_a5_pod
week_11_new/nagaraju_pod
week_11_new/neeraj_pod
week_11_new/philip_pod
week_11_new/philip_s_pod
week_11_new/pratul_pod
week_11_new/ritwik_pod
week_11_new/saad_pod
week_11_new/sarmad_pod
week_11_new/saud_pod
week_11_new/snehal_pod

classify.py
compute_complexity.ipynb
create_branch_and_folder.sh
README.md
requirements.txt